.inter{
    font-family: Inter;
}

body{
    background-image: url('../Hero-bg.png');
    /* width: 500px; */
background-position: top;

}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
     margin: 0px 200px;
}
.nav-title{
    /* font-family: Inter ; */
    font-weight: 34px;
    color: #4E47FF;
}
.btn-primary{
    background-color: #4E47FF;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 10px;
    /* border: none; */
    
   
}
.banner-content{
    margin: 310px 270px;
    text-align: center;
}
.Cool{
    max-width: 900px;
    font: 65px;
    font-weight: bold;
    color: #252432;
    
}
.action{
    display: flex;
    justify-content: space-between;
    margin: 810px 400px;
   
}
.mini{
    border-radius: 50px;
    width: 420px 320px;
}
.middle{
    text-align: center;

}
.list-items{
    text-align: center;
    display:flex
    

}
.data-container{
    text-align: center;
}
